html.dark {
	// * geeker-admin
	--geeker-login-shadow-light: 5px 5px 15px rgb(255 255 255 / 20%);
	--geeker-box-shadow-light: 0 0 10px rgb(255 255 255 / 10%);
	--geeker-border-light: 1px solid #4c4c4d;
	--geeker-main-bg-color: #0d0d0d;
	--geeker-popup-color: #060708;
	.el-main {
		background-color: var(--geeker-main-bg-color) !important;
		.main-box {
			background-color: var(--el-bg-color) !important;
		}
	}
	.el-footer {
		.layout-footer {
			background-color: var(--el-bg-color) !important;
			border-top-color: var(--el-border-color-light) !important;
		}
	}
}
